
<div class="listings-wrapper margin-auto">

	<div class="form-group">
	  <%= form_tag(ideas_search_path) do %>
	     <%= select_date Date.today, :prefix => :start_date  %>
	     <%= select_date Date.today, :prefix => :end_date  %>
	     <%= text_field_tag :num, (params[:num] or 5)  %>
	     <%= submit_tag "Submit", :disable_with => "Submitting..." %>
	  <% end %>
	</div>

	<% @ideas.each do |idea| %>


	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title"><%= link_to idea.title, idea %>
	    	<small> 
	    		posted on <%= idea.created_at %>
	    	</small>
	    </h3>
	  </div>
	  <div class="panel-body">
	    <div class="col-md-3 data-div">
	    	<p>
	    		<%= link_to(content_tag(:i,nil, class: 'fa fa-thumbs-o-up'), like_idea_path(idea), method: :put, :remote => true, data: { type: :json }, class: "like") %>
	    			<span class="likeCount"><%= idea.get_likes.size %></span>
    			<%= link_to(content_tag(:i,nil, class: 'fa fa-thumbs-o-down'), dislike_idea_path(idea), method: :put, :remote => true, data: { type: :json }, class: "dislike") %>
	    			<span class="dislikeCount"><%= idea.get_dislikes.size %></span>
	    	</p>
	    	<p>Industry: 
	        	<a href="/ideas/industry/<%= idea.industry %>"><%= idea.industry %></a>
	        </p>
	    	<p>Keywords/Tags:
	    		<p class="keyword-list">
	    			<% idea.keyword_list.each do |keyword| %>
	    				<a href="/ideas/tagged/<%= keyword %>"><span class="keywordtag"><%= keyword %></span></a>
	    			<% end %>
	    		</p>
	    	</p>
	    </div>
	    <div class="col-md-9 idea-desc">
	    	<p class="desc">
	    		<%= idea.description.gsub(/\n/, '<br/>').html_safe %>
	    	</p>
	    	<small><%= link_to "Permalink", idea %> </small>

	    </div>
	  </div>
	  <% if idea.user == current_user %>
	  <div class="panel-footer">
		<small>
		  <%= link_to 'Edit', edit_idea_path(idea) %> | 
		  <%= link_to 'Delete', idea, method: :delete, data: { confirm: 'Are you sure?' } %> 
		</small>
	  </div>
	  <% end %>
	  
	</div>

	<% end %>
</div>
