

<div class="listings-wrapper margin-auto">
	<% @ideas.order(cached_votes_score: :desc).each do |idea| %>

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title"><%= link_to idea.title, idea %>
	    	<small> 
	    		posted on <%= idea.created_at %>
	    	</small>
	    </h3>
	  </div>
	  <div class="panel-body">
	    <div class="col-md-3 data-div">
	    	<p>
	    		<%= link_to(content_tag(:i,nil, class: 'fa fa-thumbs-o-up'), like_idea_path(idea), method: :put, :remote => true, data: { type: :json }, class: "like") %>
	    			<span class="likeCount"><%= idea.get_likes.size %></span>
    			<%= link_to(content_tag(:i,nil, class: 'fa fa-thumbs-o-down'), dislike_idea_path(idea), method: :put, :remote => true, data: { type: :json }, class: "dislike") %>
	    			<span class="dislikeCount"><%= idea.get_dislikes.size %></span>
	    	</p>
	    	<p>Industry: 
	        	<a href="/ideas/industry/<%= idea.industry %>"><%= idea.industry %></a>
	        </p>
	    	<p>Keywords/Tags:
	    		<p class="keyword-list">
	    			<% idea.keyword_list.each do |keyword| %>
	    				<a href="/ideas/tagged/<%= keyword %>"><span class="keywordtag"><%= keyword %></span></a>
	    			<% end %>
	    		</p>
	    	</p>
	    </div>
	    <div class="col-md-9">
	    	<p><%= idea.description %></p>
	    </div>
	  </div>
	</div>

	<% end %>
</div>
