<!DOCTYPE html>
<html>
<head>
  <title>StartIdeas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
        </script>
      <![endif]-->
</head>
<body>

	<div class="col-md-3 sidebar">
		<li class=""><a href="/">Home</a></li>
		<li><a href="/ideas">Ideas</a></li>
		<li><a href="/ideas/new">New Idea</a></li>
		<li><a href="/ideas/graph">Stats</a></li>
		<% if logged_in? %>
		  <li>
		    <%= link_to "Me", current_user %>
		  </li>
		  <li>
		    <%= link_to "Logout", logout_path, method: "delete" %>       
		  </li>
		<% else %>
		  <li>
		      <%= link_to "Login", login_path %>
		  </li>
		<% end %>

		<div class="col-lg-12">
		    <div class="form-group">
		    	<form class="input-group" id="searchform">
		    		<small>Search Tags</small>
		    		<input type="text" class="form-control" id="query">
		    		<button class="btn btn-default" type="button" id="search">Go!</button>
		    	</form>
		   	</div><!-- /input-group -->

		   	

		</div>
	</div>
	<div class="col-md-9 col-md-offset-3 main">
		<% flash.each do |message_type, message| %>
		  <div class="alert alert-<%= message_type %>"><%= message %></div>
		<% end %>
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>

	<script>

	$(function(){
		
		$("#searchDate").on('click', function(){
			var start = $('#startDate').val()
			var end = $('#endDate').val()
			console.log(start);
			console.log(end);
		});

		$('#query').tagsInput({
			'height':'50px',
			'width' : '230px',
			'delimiter': [',']
		});

		$("#search").on('click', function(){
			var query = $("#query").val();
			console.log(query);
			window.location.replace("/ideas/tagged/" + query);
		})
	})
	</script>


</body>
</html>




